<!DOCTYPE html>
<html lang="en">
<head>
<!--    <script src="https://unpkg.com/htmx.org@1.9.5"            integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"             crossorigin="anonymous"></script>-->
        <script src="htmx.min.js"></script>
</head>

<body data-sveltekit-preload-data="hover">
<h1>Hello World</h1>
<ul class="list-group fs-5 me-5" id="film-list">
    {{ range .Films }}
    {{ block "film-list-element" .}}
    <li class="list-group-item bg-primary text-white">{{ .Title }} - {{ .Director }}</li>
    {{ end }}
    {{ end }}
</ul>

<form hx-post="/add-film/" hx-target="#film-list" hx-swap="beforeend" hx-indicator="#spinner">
    <div class="mb-2">
        <label for="film-title">Title</label>
        <input type="text" name="title" id="film-title" class="form-control"/>
    </div>
    <div class="mb-3">
        <label for="film-director">Director</label>
        <input type="text" name="director" id="film-director" class="form-control"/>
    </div>

    <button type="submit" class="btn btn-primary">
        <span class="spinner-border spinner-border-sm htmx-indicator" id="spinner" role="status"
              aria-hidden="true"></span>
        Submit
    </button>
</form>
</body>
</html>
